@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

root {
  --white-color: #fff;
  --black-color: #393939;
  --black-segundary: #333333;
  --color-pro: #e4e4e4;
  --main-color: #be9c79;
  --borde: 1px solid var(--black-color);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  background-color: var(--white-color);
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* * clase reaulisable */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.section {
  padding: 3rem 0;
}

.gag {
  gap: 4rem;
}
/* ! aqui son botones reutilisable */
.btn__toggler {
  display: none;
  width: 44px;
  height: 34px;
  border: none;
  background-color: #393939;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn__toggler span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}

.btn__toggler span::before,
.btn__toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

.btn__toggler span::before {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}

.btn__toggler span::after {
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
}

.btn__general {
  margin-top: 1.3rem;
  padding: 0.7rem 1.2rem;
  background-color: #be9c79;
  border: 0;
  font-size: 1.1rem;
  color: #e4e4e4;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  font-weight: 600;
}

.btn__general:hover {
  background-color: #333333;
}

/* font-family: 'Merienda One', cursive;
font-family: 'Nunito', sans-serif; */

/* header menus */
.header {
  position: relative;
  padding: 5px 0;
  box-shadow: var(--box-shadow);

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.header .logo {
  height: auto;
}
.header .logo img {
  height: 4rem;
}

.header .navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.header .navbar ul li a {
  display: block;
  font-size: 1.3rem;
  color: var(--black-color);
}

.header .navbar ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* * section de home */

.home__bg {
  background-image: url(../images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 18rem 0;
  margin-top: 10px 0;
}

.home__bg .home__infor {
  padding: 10px;
  text-align: center;
  width: 50%;
}

.home__bg .home__infor h2 {
  font-family: "Merienda One", cursive;
  font-size: 3.1rem;
  padding-bottom: 0.7rem;
}

.home__bg .home__infor p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #858585;
}

/* * about */

.about__img {
  flex: 1 1 35rem;
}

.about__img img {
  width: 100%;
}

.about__infor {
  flex: 1 1 35rem;
}

.about__infor h2 {
  font-size: 3rem;
  font-family: "Merienda One", cursive;
  color: #333333;
  padding-bottom: 15px;
}

.about__infor p {
  font-size: 1rem;
  color: #333333;
  line-height: 2;
  padding: 1rem 0;
}

/* * felity */

.facilly .facilly__img {
  margin: 10px auto;
}
.facilly .facilly__img img {
  height: 3rem;
  margin-bottom: 2rem;
}

.facilly .facilly__img h2 {
  font-size: 3.1rem;
  font-family: "Merienda One", cursive;
  color: #333333;
}

.facilly .flex__colum {
  margin: 1.5rem;
  width: 20%;
  text-align: center;
}

.facilly .flex__colum img {
  height: 6.5rem;
}

.facilly .flex__colum h3 {
  font-size: 1.4rem;
  color: #333333;
  padding: 10px 0;
  font-weight: 700;
}

.facilly .flex__colum p {
  font-size: 0.9rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.8;
}

/* * menus */

.menu {
  width: 100%;
}

.menu .facilly__img {
  margin: 10px auto;
}
.menu .facilly__img img {
  height: 3rem;
  margin-bottom: 2rem;
}
.menu .facilly__img h2 {
  font-size: 3.1rem;
  font-family: "Merienda One", cursive;
  color: #333333;
  margin-bottom: 3rem;
}
.menu .colum-flex {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 1.5rem 0;
}

.menu .colum-flex img {
  width: 80%;
}

.menu .colum-flex h3 {
  font-size: 1.3rem;
  padding: 1.4rem 0;
}

/* * gallery */
.gallery .facilly__img {
  margin: 10px auto;
}
.gallery .facilly__img img {
  height: 3rem;
  margin-bottom: 2rem;
}
.gallery .facilly__img h2 {
  font-size: 3.1rem;
  font-family: "Merienda One", cursive;
  color: #333333;
  margin-bottom: 3rem;
}

.gallery .gallery__img {
  object-fit: cover;
  width: 30%;
  height: 17rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.gallery .gallery__img img {
  width: 100%;
  height: 100%;
}

/* * team */
.team .facilly__img {
  margin: 10px auto;
}
.team .facilly__img img {
  height: 3rem;
  margin-bottom: 2rem;
}
.team .facilly__img h2 {
  font-size: 3.1rem;
  font-family: "Merienda One", cursive;
  color: #333333;
  margin-bottom: 3rem;
}

.team .gallery__img {
  object-fit: cover;
  width: 31%;
  padding: 0 0.5rem;
  text-align: center;
}

.team .gallery__img img {
  width: 100%;
  height: 100%;
}

.team .gallery__img h3 {
  margin: 1.2rem 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.contact .facilly__img {
  margin: 10px auto;
}
.contact .facilly__img img {
  height: 3rem;
  margin-bottom: 2rem;
}

.contact .facilly__img h2 {
  font-size: 3.1rem;
  font-family: "Merienda One", cursive;
  color: #333333;
}

.contact .about__img {
  flex: 1 1 40rem;
}

.contact .about__img img {
  width: 100%;
}

.contact .about__form {
  flex: 1 1 30rem;
  padding: 1rem;
}

.contact .about__form form {
  border: 2px solid #333333;
  padding: 1.5rem;
  text-align: center;
}

.contact .about__form form h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333333;
}

.contact .about__form form .box {
  width: 100%;
  padding: 1rem;
  color: #333333;
  font-size: 1.2rem;
  border: 2px solid #333333;
  margin: 0.4rem 0;
}

.contact .contact__wrap {
  width: 25%;
  height: 12rem;
  padding: 1rem;
  text-align: center;
}

.contact .contact__wrap .contact__btn {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  background-color: #be9c79;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .contact__wrap .contact__btn i {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  color: #fff;
}

.contact .contact__wrap h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #333333;
  font-weight: 500;
}

.contact .contact__wrap {
  font-size: 1rem;
  color: #333333;
  line-height: 1.7;
}
@media (max-width: 991px) {
  body {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .btn__toggler {
    display: block;
    margin-right: 20px;
  }

  .header .navbar {
    display: block;
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    border-top: var(--borde);
    border-bottom: var(--borde);
  }

  .header .navbar ul li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .home__bg {
    background-position: left;
  }

  .home__bg .home__infor {
    margin: 0 auto;
  }
  .about__infor {
    text-align: center;
  }
  .about__infor h2 {
    font-size: 2rem;
    padding-bottom: 5px;
  }

  .about__infor p {
    padding: 10px 0;
  }

  .facilly .flex__colum {
    margin: 0 auto;
    width: 43%;
  }

  .menu .colum-flex {
    width: 40%;
  }

  .gallery .gallery__img {
    width: 45%;
    margin: 0.7rem auto;
  }

  .team .gallery__img {
    width: 50%;
  }

  .contact .about__form form {
    border: 1px solid #333333;
  }

  .contact .about__form form .box {
    border: 1px solid #333333;
  }

  .contact .contact__wrap {
    width: 50%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 50%;
  }

  .facilly .flex__colum {
    margin: 20px auto;
    text-align: center;
    width: 65%;
  }

  .menu .colum-flex {
    width: 35%;
  }

  .gallery .gallery__img {
    width: 90%;
  }
  .team .gallery__img {
    width: 100%;
  }

  .contact .contact__wrap {
    width: 80%;
    margin: 2rem auto;
  }
}
